{% extends 'base.html' %}

{% block title %} | Upload {% endblock %}

{% block head %}

{% endblock %}

{% block body %}
    <div class="container-fill">
        <div class="row mt-5 mb-5">
            <div class="cursive column text-center col-12" id="header">
            Image Successfully Uploaded!
            </div>
        </div>
        <div class="row mt-3">
            <form class="col text-center" method="get">
                <input type="submit" value="Upload another!">
            </form>
        </div>
    </div>
{% endblock %}