<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel='stylesheet' href='/static/css/styles.css' />
        <title>campusMischief {% block title %}{% endblock %} </title>
        {% block head %}{% endblock %}
    </head>
    <body>
        <h1>campus<div class="cursive">Mischief</div></h1>
        <ul>
            <li>stupid<div class="cursive">StudySpots</div></li>
            <li>stupid<div class="cursive">StudySpots</div></li>
            <li>stupid<div class="cursive">StudySpots</div></li>
            <li>stupid<div class="cursive">StudySpots</div></li>
            <li>stupid<div class="cursive">StudySpots</div></li>
            <li>stupid<div class="cursive">StudySpots</div></li>
        </ul>
        {% block body %}{% endblock %}
    </body>
</html>