{% extends 'base.html' %}

{% block title %} | Landing {% endblock %}

{% block head %}

{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="cursive column text-center col-12" id="header">
        Bored on campus?
        </div>
    </div>
</div>
<ul class="list-unstyled">
    <li class="media ml-4 mr-4">
        <img class="align-self-center mr-3" src="/static/images/new_east_side_1.jpg" height="240" width="240">
        <div class="align-self-center media-body">
            <h5 class="mt-0">There is so much to do.</h5>
            <p>But sometimes, when there's too many options, it's easy to be overloaded. When you could do your work for one class, or for your other class, or for your other class, or for your other class, or go to work, or do nothing, OR EXPLORE CAMPUS, we're here to help you pick the right option. Explore campus.</p>
        </div>
    </li>
    <li class="media ml-4 mr-4">
        <div class="align-self-center media-body">
            <h5 class="mt-0 mb-1">Where it All Began</h5>
            <p>New East. The site of my HIST128 recitation freshman year. Fall '21. It's a great building. Even better? It has amazing fire escapes. One on each side, and they're both painted. The easter side even has a landing.</p>
            <p>It became my goal to find every fire escape on campus and document their beauty. From there, the logical next step was chaos.</p>
        </div>
        <img class="align-self-center mr-3" src="/static/images/new_east_sign.jpg" height="240" width="240">
    </li>
    <li class="media ml-4 mr-4">
        <img class="align-self-center mr-3" src="/static/images/new_east_side_2.jpg" height="240" width="240">
        <div class="align-self-center media-body">
            <h5 class="mt-0">This Site</h5>
            <p> The first page on this site contains a record of UNC fire escapes. Make sure to climb them as frequently and disruptively as you can.</p>
            <p> The rest of the site is meant for more mischevious UNC activites. Maybe you're just trying to share your favorite bathroom, or show off the dumb cool place you found to study. Or you started a fire and want to share.</p>
        </div>
    </li>
</ul>
{% endblock %}